.idea
__pycache__
.ipynb_checkpoints
.vscode
.DS_Store
*.egg-info
.env

# Model progress
logs
checkpoints

# Data files and such
./data
*.npy
*.nc
*.png
*.gif
*.tif
*.RData

# TeX compilation
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
