.idea
__pycache__
.ipynb_checkpoints
.vscode
.DS_Store
*.egg-info
.env

# Model progress
logs
checkpoints

# Data files and such
data
# Keep all source files
!src/**/*.py
upload_data.py
tex
plots
docs
notebooks
training
validation
results
models
*.npy
*.nc
!switzerland_cosmo_map.nc
*.png
*.gif
*.tif
*.RData
# Probabilistic downscaling files
src/bayes
