.idea
__pycache__
.ipynb_checkpoints
.vscode
.DS_Store
*.egg-info
.env

# Model progress
logs
checkpoints

# Data files and such
./data
data
tex
plots
docs
results
models
*.npy
*.nc
*.png
*.gif
*.tif
*.RData
